h2 {
	text-align: center;
}

#projects-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #bec4c9;
	width: calc(80% - 20px);
	margin: 10px auto 0;
}

#projects-container .project-container,
#projects-container .project-container .secondary-cells {
	display: flex;
	width: 100%;
	padding: 5px;
	text-align: center;
}

#projects-container .project-container.header {
	font-weight: bold;
}

#projects-container .project-container.header,
#projects-container .project-container.odd {
	background: rgba(211, 211, 211, 0.03);
}

#projects-container .project-container .cell {
	width: 30%;
}

#projects-container .project-container:not(.header) .name {
	font-weight: bold;
	font-size: 1.1em;
	margin-bottom: 5px;
	text-align: start;
}

#projects-container .project-container .open-project-mobile {
	display: none;
}

#projects-container .project-container .name a {
	color: unset !important;
}

#projects-container .project-container.team-full .name {
	color: #018101;
}

#projects-container .project-container.team-missing .name {
	color: #885a00;
}

#projects-container .project-container.team-empty .name {
	color: #880000;
}

#projects-container .project-container:not(.header) .cell.job {
	display: flex;
	justify-content: start;
	align-items: center;
	flex-wrap: wrap;
}

.user.chip {
	height: 30px;
	width: fit-content;
	padding: 0 5px 0 0;
	border-radius: 20px;
	border: 1px solid rgba(190, 196, 201, 0.2);
	margin-left: 5px;
	margin-bottom: 5px;
}

.user.chip:hover {
	background: rgba(190, 196, 201, 0.2);
}

#creation .user.chip:hover {
	cursor: pointer;
}

.user.chip .avatar,
#projects-container .project-container .cell.job .avatar,
form .autocomplete-field-container .autocomplete-result .row .avatar {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.user.chip .avatar,
form .autocomplete-field-container .autocomplete-result .row .avatar {
	margin-right: 2px;
}

#projects-container .project-container .cell.actions button {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

#projects-container .project-container .cell.actions button.edit {
	background: rgba(0, 141, 255, 0.2);
}

#projects-container .project-container .cell.actions button.edit:hover {
	background: rgba(0, 141, 255, 0.7);
}

#projects-container .project-container .cell.actions button.remove {
	background: rgba(255, 0, 0, 0.2);
}

#projects-container .project-container .cell.actions button.remove:hover {
	background: rgba(255, 0, 0, 0.7);
}

#projects-container .project-container .cell.actions button {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: rgba(0, 141, 255, 0.2);
}

#projects-container .project-container .cell.actions button.remove {
	background: rgba(255, 0, 0, 0.2);
}

form {
	width: calc(80% - 20px);
	margin: 0 auto;
	border: 1px solid #bec4c9;
	display: flex;
	flex-direction: column;
}

form #toggle-form {
	cursor: pointer;
}

form #fields-container.closed {
	display: none;
}

form .field-row {
	width: 100%;
	display: flex;
	margin-bottom: 10px;
}

form .autocomplete-field-container {
	flex-wrap: wrap;
}

form .autocomplete-field-container .autocomplete-result {
	max-height: 100px;
	overflow: scroll;
	border: 1px solid rgba(190, 196, 201, 0.2);
	padding: 5px;
	border-radius: 5px;
	position: absolute;
	width: 200px;
	z-index: 1000;
	background: #bdbdbd;
	color: black;
}

form .autocomplete-field-container .autocomplete-result .row {
	padding: 2px;
	border-bottom: 1px solid rgba(190, 196, 201, 0.2);
	cursor: pointer;
}

form .autocomplete-field-container .autocomplete-result .row:hover {
	background: rgba(190, 196, 201, 0.2);
}

form .autocomplete-field-container .autocomplete-result .row[data-selected] {
	background: rgba(96, 97, 100, 0.2);
}

form .divider {
	width: 100%;
	border-bottom: 1px solid rgba(190, 196, 201, 0.2);
	margin-bottom: 5px;
	text-align: center;
}

form .autocomplete-field-container .show-results {
	display: flex;
	width: calc(100% - 200px);
	flex-wrap: wrap;
}

#error-message,
#info-message {
	color: #d90e0e;
	text-align: center;
	width: 100%;
}

#info-message {
	color: #00748f;
}

.adypepper label[for="search"] {
	display: flex;
	width: calc(80% - 20px);
	margin: 10px auto 0;
}

.adypepper #search {
	display: block;
	width: calc(100% - 96px) !important;
}

.adypepper label[for="search"] button.sort {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-left: 2px;
	background: rgba(126, 126, 126, 0.2);
}

.adypepper label[for="search"] button.sort[data-filter="full"] {
	background: rgba(1, 129, 1, 0.2);
}

.adypepper label[for="search"] button.sort[data-filter="missing"] {
	background: rgba(136, 90, 0, 0.2);
}

.adypepper label[for="search"] button.sort[data-filter="empty"] {
	background: rgba(136, 0, 0, 0.2);
}

.adypepper label[for="search"] button.sort[data-filter="full"]:hover,
.adypepper label[for="search"] button.sort[data-filter="full"].active {
	background: rgba(1, 129, 1, 0.7);
}

.adypepper label[for="search"] button.sort[data-filter="missing"]:hover,
.adypepper label[for="search"] button.sort[data-filter="missing"].active {
	background: rgba(136, 90, 0, 0.7);
}

.adypepper label[for="search"] button.sort[data-filter="empty"]:hover,
.adypepper label[for="search"] button.sort[data-filter="empty"].active {
	background: rgba(136, 0, 0, 0.7);
}

@media (max-width: 992px) {
	#creation,
	#projects-container {
		width: calc(100% - 10px);
		padding: 5px;
	}

	#projects-container .project-container,
	#projects-container .project-container .secondary-cells {
		flex-wrap: wrap;
	}

	#projects-container .project-container .cell.name {
		text-align: center;
	}

	#projects-container .project-container .open-project-mobile {
		display: unset;
		cursor: pointer;
	}

	#projects-container .project-container .secondary-cells {
		display: none;
		flex-direction: column;
		width: 100%;
		flex-wrap: wrap;
	}

	#projects-container .project-container .cell {
		width: 100% !important;
		justify-content: space-between !important;
	}

	form .autocomplete-field-container {
		flex-wrap: wrap;
	}

	form .autocomplete-field-container .show-results {
		display: flex;
		width: auto;
		flex-wrap: wrap;
	}

	form .field-row {
		width: 100%;
		display: flex;
		margin-bottom: 10px;
		flex-direction: column;
	}

	.adypepper label[for="search"] {
		display: flex;
		width: 100%;
		margin: 10px auto 0;
	}
}

@media (min-width: 600px) and (max-width: 992px) {
	form .field-row {
		flex-direction: row;
	}
}
