<div class="divider">{{ title }}</div>
<div id="{{ job }}-autocomplete" class="field-row autocomplete-field-container">
	<div class="autocomplete-field">
		<label>
			<input id="project-{{ job }}"
				   class="inputbox autowidth autocomplete"
				   type="text"
				   value=""
				   placeholder="..."
				   autocomplete="off"
			>
		</label>
	</div>
	<div class="show-results"></div>
</div>
