<div class="cell job {{ job }}">
	<div class="open-project-mobile">{{ title }}</div>
	{% for user in jobs %}
	<div class="user chip" data-user-id="{{ user.user_id }}">
		{{ user.avatar }}
		{{ user.username }}
	</div>
	{% endfor %}
</div>
