<form id="creation"
	  class="panel"
	  data-ady-pepper-search-api="{{ search_users_api }}"
	  data-ady-pepper-create-api="{{ create_project_api }}"
	  data-ady-pepper-delete-api="{{ delete_project_api }}"
	  data-ady-pepper-api-tokens='{{ api_tokens }}'
	  data-ady-pepper-error='{{ lang("XML_REQUEST_ERROR") }}'
	  data-ady-pepper-removal-confirmation='{{ lang("REMOVAL_CONFIRMATION") }}'
	  data-ady-pepper-chip-title='{{ lang("CHIP_TITLE") }}'
>
	<div class="divider">
		<h3 id="toggle-form"><i class="fa fa-arrow-circle-down"></i>&nbsp;Créer/Éditer un projet</h3>
	</div>
	<div id="fields-container" class="closed">
		<input id="project_id"
			   type="hidden"
			   name="id"
			   value=""
		>
		<div class="field-row">
			<label>
				Titre
				<input id="project_name"
					   class="inputbox autowidth"
					   type="text"
					   name="name"
					   value=""
					   placeholder="Titre"
					   required
				>
			</label>
			<label>
				URL
				<input id="project_url"
					   class="inputbox autowidth"
					   type="url"
					   name="url"
					   value=""
					   placeholder="URL"
					   required
				>
			</label>
		</div>
		{% include '@ady_pepper/autocomplete-field.html' with {title: 'Trad', job: 'translators'} %}
		{% include '@ady_pepper/autocomplete-field.html' with {title: 'C1', job: 'first-checkers'} %}
		{% include '@ady_pepper/autocomplete-field.html' with {title: 'Edit', job: 'editors'} %}
		{% include '@ady_pepper/autocomplete-field.html' with {title: 'C2', job: 'last-checkers'} %}
		<fieldset class='submit-buttons'>
			<input class="button1 reset" type="button" accesskey="s" tabindex="6"
				   value="{{ lang('CANCEL') }}"/>
			<input class="button2 submit" type="submit" accesskey="s" tabindex="6" name="post"
				   value="{{ lang('SUBMIT') }}"/>
		</fieldset>
	</div>
</form>
