<!-- INCLUDE overall_header.html -->

<div class="adypepper panel">
	<h2>{{ lang('PAGE_TITLE') }}</h2>
	{% include '@ady_pepper/creation-form.html' %}
	<div id="error-message"></div>
	<div id="info-message" data-ady-pepper-text="{{ lang('INFO_COUNT_PROJECTS') }}"></div>
	<label for="search">
		<input type="text" id="search" class="inputbox autowidth" placeholder="Recherche..." autocomplete="off">
		<button type="button" class="sort"
				data-filter="{{ constant('ady\\pepper\\constant\\team_status::KEYS')[1] }}"></button>
		<button type="button" class="sort"
				data-filter="{{ constant('ady\\pepper\\constant\\team_status::KEYS')[2] }}"></button>
		<button type="button" class="sort"
				data-filter="{{ constant('ady\\pepper\\constant\\team_status::KEYS')[3] }}"></button>
	</label>
	<div id="projects-container" class="panel">
		<div class="project-container header">
			<div class="cell name">{{ lang('TITLE') }}</div>
			<div class="secondary-cells">
				<div class="cell job translators">{{ lang('TRANSLATORS_TITLE') }}</div>
				<div class="cell job first-checkers">{{ lang('FIRST_CHECKERS_TITLE') }}</div>
				<div class="cell job editors">{{ lang('EDITORS_TITLE') }}</div>
				<div class="cell job last-checkers">{{ lang('LAST_CHECKERS_TITLE') }}</div>
				<div class="cell actions">{{ lang('ACTIONS') }}</div>
			</div>
		</div>
		{% for i, project in projects %}
		{% set odd = i % 2 ? 'odd' : '' %}
		{% set status = constant('ady\\pepper\\constant\\team_status::KEYS')[project.status] %}
		<div class="project-container {{ 'team-' ~ status }} {{ odd }}"
			 id="{{ project.id }}"
			 data-ady-pepper-count="{{ project.count }}"
		>
			<div class="cell name">
				<i class="fa fa-arrow-circle-down open-project-mobile" data-ady-pepper-id="{{ project.id }}"></i>&nbsp;
				<a href="{{ project.url }}" target="_blank">
					{{ project.name }}
				</a>
			</div>
			<div class="secondary-cells">
				{% include '@ady_pepper/cell-job.html' with {
				title: lang('TRANSLATORS_TITLE'),
				job: 'translators',
				jobs: project.translators
				} %}
				{% include '@ady_pepper/cell-job.html' with {
				title: lang('FIRST_CHECKERS_TITLE'),
				job: 'first-checkers',
				jobs: project.first_checkers
				} %}
				{% include '@ady_pepper/cell-job.html' with {
				title: lang('EDITORS_TITLE'),
				job: 'editors',
				jobs: project.editors
				} %}
				{% include '@ady_pepper/cell-job.html' with {
				title: lang('LAST_CHECKERS_TITLE'),
				job: 'last-checkers',
				jobs: project.last_checkers
				} %}
				<div class="cell actions">
					<button type="button"
							class="edit"
							data-ady-pepper-id="{{ project.id }}"
					>
						<i class="fa fa-edit"></i>
					</button>
					<button type="button"
							class="remove"
							data-ady-pepper-name="{{ project.name }}"
							data-ady-pepper-id="{{ project.id }}"
					>
						<i class="fa fa-trash-o"></i>
					</button>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

<!-- INCLUDE overall_footer.html -->
